pkgbase = tspl-cups-driver
	pkgdesc = Free CUPS driver for TSPL/TSPL2 thermal label printers (by Run The Wall - https://constly.com)
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/RunTheWall/tspl-cups-driver
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	makedepends = gcc
	makedepends = make
	depends = cups
	conflicts = hzd950-cups-driver
	replaces = hzd950-cups-driver
	provides = hzd950-cups-driver
	source = tspl-cups-driver-1.3.0.tar.gz::https://github.com/RunTheWall/tspl-cups-driver/archive/refs/tags/v1.3.0.tar.gz
	sha256sums = 33599ebf29148f1c92368932c4f3985a81d7ae9e2108ef3f669197d2fa13ebf9

pkgname = tspl-cups-driver
